@model BeachTime.Models.ConsultantEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Update Profile</h2>

<h3>dialog/description on updating profile</h3>

<ul>
    <li>current project input + label</li>
    <li>skill tags (mention delimiter, or maybe <a href="http://xoxco.com/projects/code/tagsinput/">use this plugin for tagging system</a>)</li>
    <li>new email input + label</li>
    <li>confirm new email input + label</li>
    <li>new password input + label</li>
    <li>confirm new email input + label</li>
    <li>OLD PASSWORD input if user enters info in the new email/new password fields as confirmation (use jquery to hide element until content is added to the other fields)</li>
    <li>Update profile button to submit changes -> redirect to Consultant/Index</li>
</ul>

<div>
    @using (Html.BeginForm("Edit", "Consultant", FormMethod.Post, new { @class = "form-horizontal", role="form"}))
    {
        @Html.AntiForgeryToken();
        
        <h2>Update profile form, needs actual implementation</h2>
        //  Rest of form goes here
        @Html.EditorForModel();
        
        <input type="submit" value="Update Profile" />
    }
</div>