@model BeachTime.Models.ConsultantIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Consultant Dashboard</h2>

<h3>Welcome, 
    @Html.ValueForModel(Model.FirstName) @Html.ValueForModel(Model.LastName)
    </h3>

<p>dashboard stuff:</p>
<ul>
    
    <li>Projects: 
    @{
        foreach (var item in Model.Projects)
        {
            @Html.ValueForModel(item.ProjectName);
            @:,&nbsp;
            }
    }
    </li>

    <li>account type (consultant/exec)</li>

    <li>account tags (skills):
        @{
            foreach (var item in Model.SkillList)
            {
                @Html.ValueForModel(item);
                @:,&nbsp;
            }
        }
    </li>

    <li>resume+other files list (with links to view and remove individual files)</li>

    <li>add new file link</li>
    
    <li>update profile button (either opens new page OR popup window <a href="http://stackoverflow.com/questions/4803424/mvc-pop-up-windows">EXAMPLE</a> or <a href="http://www.dotnet-tricks.com/Tutorial/mvc/42R0171112-CRUD-Operations-using-jQuery-dialog-and-Entity-Framework---MVC-Razor.html">2nd EXAMPLE</a>)</li>
    
    <li>logout button -> redirect to Home/Index</li>
</ul>