<connectionStrings>
	<add name="DefaultConnection"
					providerName="System.Data.SqlClient"
					connectionString="Data Source=(localdb)\v11.0;Initial Catalog=BeachTime;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
	<add name="TestConnection"
					providerName="System.Data.SqlClient"
					connectionString="Data Source=(localdb)\v11.0;Initial Catalog=BeachTimeTest;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
</connectionStrings>