body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-primary {
    color: #401104;
}

.text-secondary {
    color: #53291D;
}

.table-stretch {
    width: 80%;
}

.table-skills > thead > tr > th,
.table-skills > thead > tr > td,
.table-skills > tbody > tr > th,
.table-skills > tbody > tr > td,
.table-skills > tfoot > tr > th,
.table-skills > tfoot > tr > td {
    padding: 30px;
    border: 2px solid #313B6A;
}



.centered {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.skill-block {
    background-color: #7E86A7;
    position: relative;
    width: 20%;
    margin: 1px;
}

.skill-block:before {
    content: "";
    display: block;
    padding-top: 100%;

}

.block-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.modal-padding {
    padding: 30px;
    background-color: #FFE9D2;
}

.jumbotron {
    padding-top: 80px;
}

.profile-dropdown {
    padding: 20px;
    background-color: #FFE9D2;
    
}

.navbar-text {
    font-size: 115%;
}

.button-wide {
    width: 200px;
}

.responsive-header {
    font-size: 10vw;
}