@using BeachTime.Models
@model BeachTime.Models.ExecutiveUserListViewModel
@{
    ViewBag.Title = "Beach";
}
<div class="row">
    <div class="col-xs-12 text-center">
        <h2>
            <b class="text-primary">
                Occupied Consultants
            </b>
        </h2>

    </div>

</div>
<div class="row">

    <div class="col-xs-12 col-md-6">
        <h3 class="text-primary">
            <b>Where is everyone?</b>
            <br />
            <a style="font-size:50%; padding-left:2mm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="All consultants who have one or more incompleted project will appear on this page, so you can check who's doing what.">More Information</a>
        </h3>
    </div>

    <div class="col-xs-12 col-md-6">

        @{
            if (!Model.BeachConsultantViewModels.Any())
            {
                <h3 class="text-warning">
                    <b>Hmmm...</b>
                </h3>

                <p>
                    There aren't any consultants working on projects!  Maybe you should take a quick trip to @Html.ActionLink("the beach", "Beach", "Executive", new { @class = "btn btn-sm btn-warning" })
                </p>
            }
            else
            {
                <table class="table table-stretch">
                    <tr>
                        <th>User</th>
                        <th>Profile Link</th>
                    </tr>

                    @{
                foreach (ConsultantIndexViewModel item in Model.BeachConsultantViewModels)
                {
                    <tr>
                        <td>@item.FirstName @item.LastName</td>

                        <td>
                            @Html.ActionLink("Profile", "Details", "Executive", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
                        </td>

                    </tr>
                }
                    }
                </table>


            }
        }



    </div>

</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>