@using System.Web.UI.WebControls
@model BeachTime.Models.HomeViewModel
@{
    ViewBag.Title = "About IbEACH";
}
<div class="row">
    <div class="col-xs-12 text-center">
        <h1>
            <b class="text-primary">
                About Beachtime
            </b>
        </h1>
    </div>


</div>
<div class="row">
    <div class="col-xs-12">
        <p>
            Welcome to Beachtime!  This application allows Account Executives to assign new projects more accurately and efficiently.  By hosting profiles of all consultants in the office, Account Executives can quickly search through available consultants and choose one (or more) who will be the best fit for an upcoming project.
        </p>
    </div>
</div>