

@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        p.border {
              border-style: solid;
              border-width: 2px;
              color: #855C33;
          }
        p.theOther {
            color: black;
        }

    </style>
</head>


    <body>
        <p class="border">
            Welcome to The Beach applications! This application tracks consultants “on the beach”, or between clients. Users will
            register for the beach, upload their résumé, and tag their identities with useful metadata. Account
            executives will be able to search for available consultants based upon the provided metadata.
        </p>
        <a href="~/Account/Register" class="btn btn-default btn-lg">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="~/Account/Login" class="btn btn-default btn-lg">Login</a>
        
    </body>


